.p {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.footer {
  position: fixed;
  display: flex;
  align-items: center;
  width: 79%;
  justify-content: center;
  text-align: center;
  background-color: white;
  bottom: 0;
}
