.header {
  background-color: white;
}
.nav-link:hover {
  color: rgb(34, 97, 34);
  border-bottom: 2px solid rgb(34, 97, 34);
}
/* .active-nav-link {
  color: rgb(34, 97, 34);
  border-bottom: 2px solid rgb(34, 97, 34);
} */
/* .nav-link.active {
  color: rgb(34, 97, 34);
  border-bottom: 2px solid rgb(34, 97, 34);
} */

.active {
  border-bottom: rgb(34, 97, 34);
  transform: scale(1.1);
  transition: border-bottom 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
