.header {
  background-color: white;
}
.nav-link:hover {
  color: rgb(34, 97, 34);
  border-bottom: 2px solid rgb(34, 97, 34);
}
.nav-link.active {
  color: rgb(34, 97, 34);
  border-bottom: 2px solid rgb(34, 97, 34);
}
.nav-link:focus {
  color: rgb(34, 97, 34);
}
a.active {
  color: rgb(34, 97, 34);
  border-bottom: 2px solid rgb(34, 97, 34);
}
