.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e2e2e2;
  padding-right: 236px;
  padding-left: 203px;
}
.page-content {
  margin-top: 0rem;
  padding: 0px;
}
.App {
  overflow-y: auto;
  height: 100vh;
}
